# Multi-Bot Tokens from @BotFather (comma-separated for 3 Bots)
BOT_TOKENS=8835670303:AAG08SeJSsGXD4Wt9xb9JKhk1g4E93kPpzk,8606421232:AAEW3WTfqX-QcdXdri86R_VrUwEs-tWPEJQ,8943901940:AAFNtrciiig_kK7FsjUkZ1kIlkQ-aUpEJBY

# Your numerical Telegram User ID (Get it from @userinfobot on Telegram)
ADMIN_ID=YOUR_TELEGRAM_USER_ID_HERE
